@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Mooli&display=swap");

@tailwind base;

@layer base {
  html {
    color-scheme: dark;
    @apply bg-ag-600;
  }

  * {
    @apply font-martian;
    @apply text-white;
    @apply border-ag-400;
  }

  .ag-theme-alpine-dark {
    --ag-grid-size: 5.33px;
    --ag-header-height: 36px;
  }
}

@tailwind components;

@tailwind utilities;

.ag-root-wrapper {
  @apply border-0;
}

.ag-paging-panel {
  @apply !h-9;
}
